:root {
    --color-background-primary: #fff;

    --color-text-secondary: #1a2b5f;
    --color-text-primary: #ffc87a;
    --color-text-title-banner: #6a7597;
    --color-text-category: #a9afc3;
    --color-boxshadow-box2-category: #ffebea;
    --color-boxshadow-category: #eff2ff;
}
